<p class="footer__attribution">   
    &copy; {{ helpers.currentYear() }} Walk the Camino
    <span> | </span>
    Theme and code created by <a href="https://twitter.com/yinkakun" target="_blank" rel="noopener">Yinka</a> 
    <span> | </span>
    Powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener">11ty</a>
    <span> | </span>
    Checkout <a href="https://github.com/yinkakun/eleventy-duo" target="_blank" rel="noopener noreferrer">project's GitHub repo</a> or view theme on <a href="https://jamstackthemes.dev/theme/eleventy-duo/" target="_blank" rel="noopener noreferrer">Jamstack Themes</a>
    <span> | </span>
    Icons created by Freepik & Smashicons at <a href="https://www.flaticon.com/free-icons/tag" title="tag icons" target="_blank" rel="noopener">Flaticon</a>
    <span> | </span>
    Contact form created by <a href="https://dribbble.com/shots/2666271-Contact" target="_blank" rel="noopener">Gururaj</a>
    <span> | </span>
    Auto Grid Gallery by <a href="https://archive.hankchizljaw.com/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/" target="_blank" rel="noopener">Andy Bell</a>
    <span> | </span> 
</p>