<p class="footer__attribution">   
    &copy; {{ helpers.currentYear() }} Walk the Camino
    <span> | </span>
    Powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener">11ty</a>
    <span> | </span>
    Icons created by Freepik & Smashicons - <a href="https://www.flaticon.com/free-icons/tag" title="tag icons" target="_blank" rel="noopener">Flaticon</a>
    <span> | </span>
    Contact form created by <a href="https://dribbble.com/shots/2666271-Contact" target="_blank" rel="noopener">Gururaj</a>
</p>