---
title: Blog
layout: base.njk 
permalink: /blog/ 
---

<h1>All Posts</h1>

<div class="tags">
  <h4 class="featured_posts">Tags</h4> 
  {% include "tags-list.njk" %}
</div>

{% set postslist = collections.posts %}
{% include "posts-list.njk" %}