---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - gallery
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: base.njk
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: "{{ tag | title }}"
  description: "All posts tagged “{{ tag }}”"
---
<h1><span>←</span> <a href="/blog" title="Whatever I said, whatever I did I didn't mean it
  I just want you back for good...">{{ tag | title }}</a></h1>

{% set postslist = collections[tag] %}
{% include "posts-list.njk" %}